.board_box {
    position: relative;
    margin: 30px;
}

.board_title {
    font-size: 35px;
    border: none;
    resize: none;
    outline: none;
}

.board_content {
    resize: none;
    border: none;
    outline: none;
    font-size: 35px;
}

.board_btn {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    color: black;
    border: 1px solid black;
    color: white;
    background: black;
    margin: 20px 10px;

    &:hover {
        background: white;
        color: black;
        cursor: pointer;
    }
}