.board_box {
  padding: 8px;
  margin: 8px;
}

.board_data {
  all: unset;
  margin: 20px 0;
  overflow-y: auto;
  font-size: 14px;
  padding: 0px 20px;
  width: 80%;
  border-bottom: 1px solid black;
}

.board_btn {
  justify-content: end;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px;
  color: black;
  border: 1px solid black;
  color: white;
  background: black;
  margin: 10px 20px;
}

a:hover {
  cursor: pointer;
  color: green;
}
